
/* =========== Google Fonts ============ */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

/* =============== Globals ============== */
* {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #e56123;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
  
}


.details .category {
    position: relative;
    display: grid;
    min-height: 450px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
  }
  
  .details .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .cardHeader h2 {
    font-weight: 600;
    color: var(--blue);
  }
  .cardHeader .cardName {
    position: relative;
    padding: 10px 15px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
    font-size: 20px;
  }
  
  .details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  .details table thead td {
    font-weight: 600;
  }
  .details .category table tr {
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .details .category table tr:last-child {
    border-bottom: none;
  }
  
  .details .category table tr td {
    padding: 10px;
  }
  .details .category table tr td:last-child {
    text-align: end;
  }
  .details .category table tr td:nth-child(2) {
    text-align: end;
  }
  .details .category table tr td:nth-child(3) {
    text-align: center;
  }
  .add-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #007bff; /* Change color as needed */
    color: #fff;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.add-icon:hover {
    background-color: #0056b3; /* Change hover color as needed */
}
/* Style for column name rows */
.column-row {
    background-color: var(--blue); /* Background color for column name rows */
    border-bottom: 2px solid #ccc; /* Bottom border color for column name rows */
}
